language: php

sudo: false

php:
- 7.0
- 7.1
- 7.2

before_install: composer global require fxp/composer-asset-plugin -vvv

install:
- composer self-update
- composer config -g github-oauth.github.com ${GITHUB_TOKEN}
- composer install

script: composer test

env:
  global:
    secure: WpVdd58dDYMboyZ9fX9b/xnz291aMJVf14OKOzuf6zhDDHaW90d8XiF0NKQI2GaNxMwz33z+QtaD5xV6Zq4yJsJG9hs3/XzWwORKVSRB13BKm0ypvrrtFo/EzONuWwsTF52d8ql+TKN+OzuEwDTeo1YIGbS0z8uYe8uYbTGjoCc=
